main{
     height: 100%;
     width: 100%;
     background-color: #222121;

     section{
          height: 100%;
          width: 100%;
     }

     .conversation-area{
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          .messages{
               height: 100%;
               width: 70%;
               display: flex;
               flex-direction: column;
               gap: .1em;
               padding-bottom: 4rem;
               padding: .5em;


               .message{
                    width:fit-content;
                    padding: .5em 1em;
                    background-color: #4a4a4a;
                    border-radius: .5em;
                    color: rgb(248, 244, 233);
                    max-width: 75%;
     
                    &user{
                         align-self: flex-end;
                    }
               }
          }

          .input-area{
               width: 70%;
               position: absolute;
               background-color: #3c3c3c;
               border: 1px solid  #3c3c3c;
               border-radius: 0.5em;
               bottom: 2rem;

               input{
                    width: 80%;
                    padding: 0.5em 0.7em;
                    outline: none;
                    border-radius: 0.5em;
                    background-color: transparent;
                    border: none;
                    color: #d3d3d3;
               }

               button{
                    width: 20%;
                    padding: 0.5em 0.7em;
                    border-radius: 0.45em;
                    border: none;
                    background-color: #0f0f0f;
                    color: #d3d3d3;
                    cursor: pointer;
                                    
                   
               }
          }
     }
}